@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tinos&display=swap');
.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;

  position: relative;
	min-height: 100vh;
}

.link {
  text-decoration: none;
  color: black;
}

.button_link {
  display: flex;
  justify-content: center;
  margin-bottom: 4vw;
  text-decoration: none;
}